@font-face
{
	font-family: snakeFont;
	src: url('FontSnake.ttf'),
	url('FontSnake.ttf');
}

@font-face
{
	font-family: snakeFontBethanie;
	src: url('FontBethanieSnake.ttf'),
	url('FontBethanieSnake.ttf');
}

@font-face
{
	font-family: snakeFontChan;
	src: url('FontSnakeChan.ttf'),
	url('FontSnakeChan.ttf');
}

body {
  display: block;
  margin: 8px;
  padding: 0px;
}

h1 {
  font-family: snakeFontChan;
  font-weight: normal;
  font-size: 2.5em;
}

h2 {
  font-family: snakeFontChan;
  font-weight: normal;
  font-size: 1.5em;
}

#report-table {
  margin-top:30px;
  font-size: 0.875em;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  margin: 5px 5px 5px 0px;
  cursor: pointer;
  font-size: 1em;
}

.btn:hover {
  background-color: RoyalBlue;
}
